* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Sofia", sans-serif;
}
body {
  background-color: rgb(153, 152, 179);
}
.navbar {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  border: 1px;
  height: 15vh;
  border-radius: 3px;
  align-items: center;
}
.heading {
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  letter-spacing: 2px;
  font-size: 6vh;
}

.navbar ul {
  font-size: 3vh;
  margin: 1px;
  display: flex;
  justify-content: center;
  width: 60%;
  list-style: none;
}
nav ul li {
  margin-right: 7%;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-decoration: underline;
  color: white;
}
#menucontainer {
  /* display: none; */
  margin-right: 5%;
}
.menu1 {
  background-color: rgb(239, 126, 126);
  width: 25px;
  height: 3px;
  margin: 4px;
}
.menustyle {
  background-color: aqua;
}
